.container {
  /* On ajoute une marge sur les cotés de l'écran */
  padding-right: 20px;
  padding-left: 20px;

  /* Et on centre */
  margin-right: auto;
  margin-left: auto;
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px){
  .container {
      width: 1170px;
  }

}



body.accueil
{
  background-color: #F5FFFA;
}


header.accueil 
{
  height: 220px;
  background-color:#FFFAFA;
  border-radius:25px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFE4E1	;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DDA0DD;
}

.zoneblanche1
{
background-color: #F5F5DC;
width:100%;
height:200px;
}


/*SLIDER*/

.wrapper
{
  width: 1170px;
  margin: 0 auto;
}


.slider
{
width: 1170px;
height: 300px;
overflow:hidden;
}

.slider img
{
  width: 1170px;
  height: 300px;  
  float: left;
}

.slider-buttons a
{
padding: 10px 20px;
background-color: white;
text-decoration:none;
}

.slider-buttons a.left
{
  float: left;
}

.slider-buttons a.right
{
  float: right;
}

.slider-buttons
{
  text-align:center;
}





/*_____________________*/


.logo_reseaux
{
background: gold;
width: 7%;
margin: 4em;
}


/* ARTICLES 1 2 3 4.php      */

.bloc1
{
display: inline-block;
height: 70px;
width: 70%; 
text-align: center;   
margin:20px;
border: solid 1px #b22222;
font-family: monospace;
font-size:13px;
}

.interligne1
{
height: 20px; 
display:inline-block;  
width:70%; 
text-align: center;  
margin:20px; 
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



/* INFOS.PHP */

body.infos_bg
{
background-color:#F8F8FF	 ;  
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


/* CONTACT.PHP */
form
{
  font-family: 'Red Rose', cursive;
}


/* APROPOS.PHP */

.apropos1
{
  width:60%;
  text-align:center;
  margin:50px;
  border:solid 1px black;
  font-family: 'Hind Madurai', sans-serif;
}

/* LIENS.PHP */
.liens1
{
  margin:20px;
  padding:30px;
  font-family: 'Amiri', serif;
font-family: 'Hind Madurai', sans-serif;
  border:dotted 1px yellow;
}

.lien a 
{
  text-decoration:none;
}